cmake-build-debug/
.idea/
ZabavaEngine
ZabavaEngine.exe
ZabavaTests.exe
*.o
*.obj


.vs/
out/
build/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
Testing/
.ninja_deps
.ninja_log
build.ninja
CMakeCache.txt
cmake_install.cmake
compile_commands.json
.vscode/